* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  a{
    text-decoration: none;
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
  }

  /* END OF CSS RESET */

  body {
      width: 100%;
      height: 100vh;
      background-color: #ffeedf;
  }

  #container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 27px;
      column-gap: 62px;
  }

  #container div {
      width: 290px;
      height: 416px;
      background-color: #fff;
  }

  div .name {
      color: 33793f;
      font-size: 48px;
      font-family: 'EB Garamond', serif;
      font-weight: normal;
  }

  div .restaurant {
      color: #999;
      font-size: 14px;
      font-family: 'Montserrat', sans-serif;
      font-weight: medium;
      letter-spacing: 0.1em;
  }

  div .adress {
      color: #999;
      font-size: 24px;
      font-family: 'EB Garamond', serif;
      font-weight: normal;
  }
